<h1 style="margin: 20px 20px 20px 40px">Historial Venta</h1>

<mat-card style="margin: 20px 20px 20px 20px">
  <mat-card-content>
    <form [formGroup]="formularioBusqueda" (ngSubmit)="buscarVentas()">
      <div class="campos-formulario">
        <mat-form-field appearance="fill">
          <mat-label> Buscar por</mat-label>
          <mat-select formControlName="buscarPor">
            <mat-option *ngFor="let item of opcionesBusqueda"[value]="item.value">{{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'numero'">
          <mat-label>Número Orden</mat-label>
          <input matInput autocomplete="off" formControlName="numero" />
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'fecha'">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput autocomplete="off" formControlName="fechaInicio" [matDatepicker]="picker1" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'fecha'">
          <mat-label>Fecha Final</mat-label>
          <input matInput autocomplete="off" formControlName="fechaFin" [matDatepicker]="picker2" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary"
          [disabled]="formularioBusqueda.invalid"
          type="submit"
          class="boton-buscar">
          <mat-icon>search</mat-icon>Buscar
        </button>
      </div>
    </form>

    <mat-divider></mat-divider>

    <mat-form-field class="input-filter">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="AplicarFiltroTabla($event)" #input />
    </mat-form-field>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="datosListaVenta" matSort>
        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Fecha Registro</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaRegistro }}</td>
        </ng-container>

        <ng-container matColumnDef="numeroDocumento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Numero de venta</th>
          <td mat-cell *matCellDef="let element">{{ element.numeroDocumento }}</td>
        </ng-container>

        <ng-container matColumnDef="tipoPago">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Tipo de Pago</th>
          <td mat-cell *matCellDef="let element">{{ element.tipoPago }}</td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Total</th>
          <td mat-cell *matCellDef="let element">{{ element.totalTexto}}</td>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef style="width: 80px"> </th>
          <td mat-cell *matCellDef="let element">

          <button mat-icon-button color="primary" (click)="verDetalleVenta(element)"
          matTooltip="Ver Detalle">
            <mat-icon>visibility</mat-icon>
          </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnaTabla"></tr>
        <tr mat-row *matRowDef="let row; columns: columnaTabla,"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro {{input.value}}</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
