.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: white;
}

.loginCard {
  max-width: 328px !important;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}

.header {
  text-align: center;
}

.full-width {
  width: 80%;
}
